<div class="container d-flex flex-wrap">

    <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search" method="POST" action="/dashboard/search">
        <input type="search" name="searchTerm" class="form-control border-primary"
        placeholder="Search...." aria-label="Search">
    </form>
    <ul class="nav">
      <li class="nav-item"><a href="/logout" type="button" class="nav-link link-dark px-2">Log out</a></li>
    </ul>
  </div>