<div class="container-fluid container-fluid custom">
<h1>ABOUT</h1>
<div class="fs-4 mb-4">
    Hey there! I am Akanksha and this web application is developed to hone my skills in Nodejs, ExpressJs and MongoDB... 
    it's a note taking application to hold in all my thoughts and ideas!!
</div>
</div>