<div class="container-fluid container-fluid custom">
    <h1>FEATURES</h1>
    <div class="fs-4 mb-4">
    1.Real-time updates: Notes are updated in real-time as they are created and edited.<br>
2.User-friendly interface: The app has a clean and intuitive design, making it easy to use. <br>
3. Edit, delete, and search functionality: Users can make changes to their notes, delete notes, and search for specific notes. This allows for flexibility and efficiency in note management.
    </div>
    </div>